.lightblue-background{
    background-color: skyblue;
    font-family:Arial, Helvetica, sans-serif;
}


.topnav{
    margin: 5px;
    background-color: white;
}

.topnav input{
    margin: 5px;
    float:right;
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    border-color:black;
    color:white;
}

.topnav p{
    border-style: solid;
    border-width: 20px;
    text-align: center;
    border-color:black;
}


.middlepage{
    background-color:white;
    margin-left: 35%;
    margin-right: 35%;
    padding:20px;
    padding-left:40px;
}

.middlepage input{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    color:black;
}

.middlepage p{
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    border-color:black;
    color:white;
}

.circle{
    border-radius: 50%;
    margin-left: 6%;
}

hr {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }